<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haze.sameer.peckati">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".GlobalContext"
        android:allowBackup="true"
        android:icon="@drawable/peckati_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/peckati_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar.TransparentNavigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CookActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FindUsersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ShowCaptureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".DisplayImageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ChooseReceiverActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddPostActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen" />
        <activity
            android:name=".ProfilePageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditProfileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PagerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FollowingActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>